<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="DAL" xsi:type="File" fileName="${logDirectory}/DAL.txt" />
    <target name="BLL" xsi:type="File" fileName="${logDirectory}/BLL.txt" />
    <target name="WEB" xsi:type="File" fileName="${logDirectory}/WEB.txt" />
  </targets>

  <rules>
    <logger name="TournamentWebApi.DAL.*" writeTo="DAL" minlevel="Trace" />
    <logger name="TournamentWebApi.BLL.*" writeTo="BLL" minlevel="Trace" />
    <logger name="TournamentWebApi.WEB.*" writeTo="WEB" minlevel="Trace" />
  </rules>
</nlog>